<!DOCTYPE HTML>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Griffin's Blog</title>

    <!-- Styles & Fonts -->
    <link rel="stylesheet" href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Media assets -->
    <meta name="twitter:image" content="/assets/img/og-image.jpg">
    <meta name="twitter:card" description="summary_large_image">
    <meta name="twitter:site" content="@lasa2019">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:title" content="Griffin Davis">
    <meta property="og:url" content="https://griffindvs.com">
    <meta property="og:image" content="https://griffindvs.com/assets/img/og-image.jpg">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/compat/apple-touch-icon.png?v=jav28r2qmy">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/compat/favicon-32x32.png?v=jav28r2qmy">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/compat/favicon-16x16.png?v=jav28r2qmy">
    <link rel="manifest" href="/assets/compat/site.webmanifest?v=jav28r2qmy">
    <link rel="mask-icon" href="/assets/compat/safari-pinned-tab.svg?v=jav28r2qmy" color="#395eb5">
    <link rel="shortcut icon" href="/assets/compat/favicon.ico?v=jav28r2qmy">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/assets/compat/browserconfig.xml?v=jav28r2qmy">
    <meta name="theme-color" content="#395eb5">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/blog">Griffin's Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/blog">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/newpost">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="bodyContent">
      {% block bodyContent %}
      {% endblock %}
    </div>

    <!-- Bootstrap & jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
